*.o

proxy-apps/Kripke/build/

proxy-apps/Laghos/laghos

proxy-apps/UMT2013/*/*/*.d
proxy-apps/UMT2013/*/*/*/*.d
proxy-apps/UMT2013/*/*/*/*.mod
proxy-apps/UMT2013/CMG_CLEAN/src/libcmgp.a
proxy-apps/UMT2013/Teton/libInfrastructure.a
proxy-apps/UMT2013/Teton/libTetonUtils.a
proxy-apps/UMT2013/cmg2Kull/sources/libc2k.a
proxy-apps/UMT2013/Teton/SuOlsonTest
proxy-apps/UMT2013/Teton/SuOlsonTest.d
proxy-apps/UMT2013/Teton/TetonTest.d
proxy-apps/UMT2013/Teton/dump.out
proxy-apps/UMT2013/make.defs
